/* IMBAdmin login window */
#imbaSsoLoginBorder {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1001;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#imbaSsoLogoImage {
    float: left;
    width: 48px;
    width: 48px;
    cursor: pointer;
}

.imbaInput {
    font-family: Arial, sans-serif !important;
    font-size: 12px !important;
    background-color: white;
    border: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 2px !important;
    color: black !important;
    height: 20px !important;
}

#imbaSsoLoginInner {
    float: left;
    text-align: center;
}

#imbaUsersOnline {
    width: 150px;
    float: left;
    margin: 0px;
    padding: 0px;
}

#imbaUsersOnline ul {
    margin: 0px;
    padding: 0px;
}

#imbaUsersOnline li {
    list-style-type:none;
    float:left;
    margin-right: 2px;
    padding: 0px;
    cursor: pointer;
}

#imbaSsoShowNickname {
    float:left;
    margin: 2px;
    padding: 0px;
    cursor: pointer;
    font-size: 12px !important;
}


/* input boxen anpassen */
#imbaContentDialog input[type=text],
#imbaContentDialog textarea,
#imbaMessagesDialog input[type=text],
#imbaMessagesDialog textarea,
#imbaSsoLoginBorder input[type=text],
#imbaSsoLoginBorder input[type=password],
#imbaSsoLoginBorder textarea,
#ImbaAjaxUsersViewprofilePasswordForm input[type=password],
#imbaSsoRegisterForm input[type=password],
#imbaPasswordPrompt input[type=password] {
    background-color: #222222;
    border: 1px solid #999999;
    color: #FFFFFF;

    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    line-height: normal;
}

#imbaSsoLoginBorder input[type=submit] {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    line-height: normal;
}