/* ImbaAdmin.css */

/* IMBAdmin main content window */

#imbaContent {
}

#imbaContent li .ui-icon-close {
    float: left;
    cursor: pointer;
}

.ImbaAjaxBlindTable {
    color: #999999;
    font-size: 1.1em;
}


/**
* Portlet design
*/
.imbaPortletColumn { width: 215px; float: left; padding-bottom: 10px; }
.imbaPortlet { margin: 0 1em 1em 0; }
.imbaPortlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.imbaPortlet-header .ui-icon { float: right; }
.imbaPortlet-content { padding-left: 1em; padding-right: 1em; padding-top: 1em; padding-bottom: 2em; }
.imbaPortlet-content-clickable { padding-left: 1em; padding-right: 1em; padding-top: 1em; padding-bottom: 2em; cursor: pointer; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

/*
* make nice sourcecode class
*/
.imbaSourceCode {
    display:block;
    font: 1em 'Courier New', Courier, Fixed, monospace;
    font-size : 100%;
    float: left;
    /*overflow : auto;*/
    text-align:left;
    border : 1px solid #777777;
    padding : 10px 20px 10px 30px;
    margin:1em 0 1em 0;
    line-height:17px;
    font-weight:normal!important;
}

/*
* make nice title
*/
.imbaTitle {
    padding-top: 20px;
    padding-bottom: 20px;
}

/**
 * Set IMBAdmin background image
 */
#imbaContentNav {
    background-image: url('/IMBAdmin/Images/Logo/community_logo_transparent.png');
    background-position: center center;
    background-repeat: no-repeat;
}